.todo-input-card{
    background:#1e293b;
    padding:20px;
    border-radius:18px;
    margin:25px 0;
}

.todo-input-row{
    display:flex;
    gap:10px;
}

.todo-input-row input{
    flex:1;
    padding:14px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#334155;
    color:white;
}

.todo-input-row button{
    width:55px;
    border:none;
    border-radius:12px;
    background:#8b5cf6;
    color:white;
    font-size:25px;
    cursor:pointer;
}

.categories{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin-top:18px;
}

.category{
    padding:8px 18px;
    border-radius:30px;
    border:2px solid;
    cursor:pointer;
    background:none;
}